.ProjectsGrid {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ProjectsGrid > a {
    position: relative;
    z-index: 1;
}

.styledProject > li {
    object-fit:;
    position: relative;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.ProjectsGrid > li:not(:last-of-type) {
    margin-bottom: 100px;
}

.project-content {
    position: relative;
    grid-column: 1/7;
    grid-column: 1/ -1;
}

.project-content:nth-of-type(odd) {
    grid-column: 7/-1;
    text-align: right;
}

.project-tech-list{
    justify-content: flex-end;
}

.project-tech-list> li {
    margin: 0 0 5px 20px;
}

.project-links{
    justify-content: flex-end;
    margin-left: 0;
    margin-right: 10px;
}

.project-image{
    grid-column: 1/ 8;
}

.project-overline {
    margin: 10px 0;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    font-weight: 400;
}

.project-title{
    color: var(--lightest-slate);
    font-size: clamp(24px, 5vw, 28px);
}

.project-description {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: var(--border-radius);
    background-color: var(--light-navy);
    color: var(--light-slate);
    font-size: var(--fz-lg);
}

.project-description>a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--green);
}

.project-description>a:hover,:focus,:active{
    color: var(--green);
    outline: 0;
}

.project-description>::after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: var(--green);
    transition: var(--transition);
    opacity: 0.5;
}

.project-description:hover , .project-description:focus {
    box-shadow: 0 20px 30px -15px var(--navy-shadow);
}

@media screen and (max-width: 1080px) {
    .project-content:nth-of-type(odd){
        grid-column: 5 / -1;
    }
    .project-content {
        grid-column: 1/9;
    }
}

@media screen and (max-width: 768px) {
    .ProjectsGrid > li {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        transition: var(--transition);
    }
    .ProjectsGrid>li:hover, .ProjectsGrid> li:focus {
        box-shadow: 0 20px 30px -15px var(--navy-shadow);
    }
    .ProjectsGrid>li:not(:last-of-type){
        margin-bottom: 70px;
    }
    .project-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        grid-column: 1 / -1;
        padding: 40px 40px 30px;
        z-index: 5;
    }
    .project-content:nth-of-type(odd) {
        grid-column: 1/-1;
        padding: 40px 40px 30px;
        text-align: left;
    }
    .project-tech-list {
        justify-content: flex-start;
    }
    .project-tech-list > li {
        margin: 0 10px 5px 0;
    }
    .project-links {
        justify-content: flex-start;
        margin-left: 10px;
        margin-right: 0;
    }
    .project-image {
        grid-column: 1/ -1;
    }
    .project-title{
        margin: 0 0 20px;
    }
    .project-title > a {
        position: static;
    }
    .project-title>a::before{
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .project-description{
        padding: 20px 0;
        background-color: transparent;
        box-shadow: none;
    }
    .project-description:hover {
        box-shadow: none;
    }
}

@media screen and (max-width: 480px) {
    .project-content{
        padding: 30px 25px 20px;
    }
    .project-content:nth-of-type(odd) {
        grid-column: 7/-1;
        text-align: right;
    }
    .ProjectsGrid>li:not(:last-of-type){
        margin-bottom: 30px;
    }
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0 10px;
    padding: 0;
    list-style: none;
}
.project-tech-list>li {
    margin: 0 20px 5px 0;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    white-space: nowrap;
}
.project-links {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: var(--lightest-slate);
}

.project-links>a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;  
}
.project-links>a.eternal{

}

.project-image {
    
}