.about{
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    max-width: 900px;
    margin: 0px auto;
    /* max-height: 100vh; */
    bottom: 10rem;
}
.about::after{
  bottom: 10rem;
}
.about > h2 {
  font-size: 20px;
  margin-top: 2rem!important;
  color: rgb(185, 183, 183);
}

 .inner {
    display: flex;
    align-content: center;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    padding-bottom: 4rem;
}

ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
  
}
ul.skills-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);

}
ul.skills-list li::before{
    content: '▹';
    position: absolute;
    left: 0;
    color: var(--green);
    font-size: var(--fz-sm);
    line-height: 12px;
}

.parag{
    max-width: 500px;
}
.pic {
    position: relative;
    display: flex;
    flex: 1;

}
.pic > * {
    position: absolute;
    z-index: 1;
}
.wrapper {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    position: relative;
    border-radius: var(--border-radius);
    background-color: transparent;
    color: var(--green);
    border: 1px solid var(--green);
    width: 350px;
    top: 3%;
    left: 4%;
    max-height: 350px;
    display: flex;
  }
  .wrapper:hover, .wrapper:focus {
    outline: 0;
    
  }
  .wrapper:hover, .wrapper:focus::after{
    top: 4%;
    left: 5%;
  }
img {
    position: relative;
    border-radius: var(--border-radius);
    color: var(--green);
    /* mix-blend-mode: multiply; */
    filter: grayscale(100%) contrast(1);
    transition: var(--transition);

}
img:hover {
  filter: none;
  border-radius: var(--border-radius);
  transition: none;
}


@media screen and (max-width: 1000px) {
  .parag {
    margin: 0 auto;
  }
  p{
    font-size: var(--fz-md);
    color: var(--lightest-slate);
    /* font-weight: bolder; */
  }
  img:hover {
    filter: none;
    border-radius: var(--border-radius);
    transition: none;
  }
}

@media screen and (max-width: 480px) {
  .inner{
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
  }
  
}