.header {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    position: fixed;
    top: 10px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: var(--nav-height);
    background-color: transparent;
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    backdrop-filter: blur(10px);
    /* transition: var(--transition); */
    transition: 'top 0.6s';
}
.navigation {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12;
    
  }
  .navigation .logo {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
  }
  .logo a {
    text-decoration: none;
    color: var(--green);
    border: solid 1px var(--green);
    border-radius: 5px;
    padding: 5px;
    width: 42px;
    height: 42px;
    fill: none;
    transition: var(--transition);
    user-select: none;
  }
  .logo a:hover,:focus{
    cursor: pointer;
    fill: var(--green-tint);

  }
  .hamburger {
    border: 0;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    display: none;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
  }
  .Links {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }
  .Links> li {
    margin: 0 5px;
    position: relative;
    counter-increment: item 1;
    font-size: var(--fz-xs);
    cursor: pointer;
  }
  .Links >li >a {
    padding: 10px;
  }
  .Links>li>a::before{
    content: '0' counter(item) '.';
    margin-right: 5px;
    color: var(--green);
    font-size: var(--fz-xxs);
    text-align: right;
  }
  .navigation-menu {
    display: flex;
    -moz-box-align: center;
    align-items: center;
  }

  .navigation-menu .Links {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none; 
  }
  
  .navigation-menu > .Links {
    display: flex;
    padding: 0;
  }
  
  .navigation-menu .Links li {
    position: relative;
    counter-increment: item 1;
    font-size: var(--fz-xs);
    color: var(--lightest-slate);
    margin: 0px 5px;
  }
  .navigation-menu .Links li a {
    padding: 15px;
    color: var(--lightest-slate);
    font-size: var(--fz-md);
  }
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
  }

  .navigation-menu .Links li:hover {
    color: var(--green);
  }
  .button a {
    text-decoration: none;
  }
  
  
  
  .hamburger:hover {
    color: var(--green);
  }
 
  
  @media screen and (max-width: 1080px) {
    .header {
      padding: 0 40px
    }
  }

  @media screen and (max-width: 768px) {
    .header{
      padding: 0 25px;
    }
    .Links {
      display: none;
    }
    .hamburger {
      display: block;
    }
  
    .navigation-menu .Links {
      flex-direction: column;
      position: fixed;
      text-align: center;
      align-items: center;
      top: 65px;
      right: 0;
      padding: 50px 10px;
      width: min(75vw, 400px);
      height: calc(100vh - 60px);
      background-color:var(--light-navy);
      box-shadow: -10px 0px 30px -15px var(--navy-shadow);
      display: none;
      transform: translateX(0vw);
      visibility: visible;
      transition: var(--transition);
    }
  
    .navigation-menu li {
      text-align: center;
      margin: 0;
    }
  
    .navigation-menu li a {
      color: black;
      width: 100%;
      padding: 1.5rem 0;
    }
  
    .navigation-menu li:hover {
     color: var(--green);
    }
  
    .navigation-menu.expanded .Links {
      display: block;
    }
  }
  